* {
    box-sizing: border-box;
}

nav .logo {
    font-size: 30px;
}

nav .links a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

footer .links a {
    color: #000;
    text-decoration: none;
}